/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F1F1F2;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'InconsolataHellenic';
    src: url('../fonts/InconsolataHellenic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berthold';
    src: url('../fonts/AkzidGroBEReg.otf');
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: auto;
    width:1200px;
    background-image: url('../img/sdc_background.png');
    background-position: center;
    background-repeat: repeat-y;
    font-family: 'InconsolataHellenic', Helvetica, Arial, Sans-Serif;

}

/* Header Styles*/

header{
    text-align: left;
    position:fixed;
    top:0px;
    background-color: #ffffff;
    width: 1200px;
    z-index: 400;
}

.header-top{
    padding: 0px 40px;
    width:1120px;
    height: auto;
}

.header-box{
    border: 1px solid #42E6DB;
    display: block;
    float: left;
    height: 5px;
    margin: 0 20px;
    width: 1158px;
}

.logo
{
    padding: 22px 0px;
    float: left;
}

.strap-line
{
    float: right;
    padding: 30px 0 0;
}

/* Navigation  Style */
nav
{
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 35px;
    position: fixed;
    text-align: left;
    top: 160px;
    width: 240px;
    font-size: .8em;
    text-transform: uppercase;
}

nav ul
{
    margin: 0;
    padding: 10px;
}

nav li
{
    border-bottom: 1px solid #F1F1F2;
    padding:10px 0px;
}

nav li.last
{
    border-bottom: none;
    padding:10px 0px;
}

nav a
{
    text-decoration: none;
    color: #000000;
}

nav a.active, nav a.active-trail
{
    text-decoration: #000000;
    text-decoration: underline;
}

.expanded ul
{
    margin: 0px;
}
.expanded li
{
    font-size: .8em;
    border: none;

}
.expanded a
{
    color: #757678;
}

.expanded a.active
{
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color: #000000;
}

.expanded a.active:before
{
    content:">  ";
}

.content
{
    float: left;
    margin-left: 290px;
    margin-top: 160px;
    width: 888px;
}

/* Home Page styling */
.capability-teaser
{
    width: 285px;
    float: left;
    margin-right: 10px ;
    margin-bottom: 18px;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    font-family: berthold, Helvetica,Arial, Sans-Serif;
    font-weight: lighter;
    font-size: inherit;
}

.capability-teaser h1
{
    background-image: url("../img/default_home_panel.png");
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    height: 183px;
    margin: 0;
    position: relative;
    width: 285px;
    z-index: 100;
    font-weight: lighter;
    text-transform: capitalize;
}

.capability-teaser h1 a
{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    border: none;
    padding: 10px;
    font-size: inherit;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    width: 100%;
    height: 100%;
}

.capability-teaser summary
{
    position: relative;
    margin: 10px;
    color: #9294A3;
    z-index: 100;
    font-size: 0.8em;
}

.capability-teaser summary p
{
    font-size: 1.1em;
    color: #9294A3;
}

.capability-teaser a, .news a, .blog-edit a
 {
    border-bottom: 1px solid #F1F1F2;
    color: #00DECF;
    display: block;
    font-size: 0.7em;
    padding-bottom: 20px;
    text-decoration: none;
    width: 265px;
}


/* Footer Styling */
footer
{
    background-color: #F1F1F2;
    color: #6C6D70;
    float: left;
    font-family: Helvetica,Arial,Sans-Serif;
    font-size: 0.5em;
    margin-bottom: 40px;
    margin-left: 290px;
    margin-top: 20px;
    padding: 10px;
    width: 858px;
}

footer .company
{
    float: left;
    width: 350px;
    margin-right: 10px;
}

footer a
{
    color: #6C6D70;
}

.company h8
{
    font-size: 1.5em;
}
footer .address
{
    float: right;
    font-size: 1.3em;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    width: 130px;

}

footer .po-box
{
    float: right;
    font-size: 1.3em;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    width: 130px;

}
footer .phone
{
    float: right;
    padding-left: 10px;
    width: 130px;
    font-size: 1.3em;
}


.clear
{
    clear: both;
}


/* Page Styling */

article
{
    background-color: #FFFFFF;
    margin-right: 15px;
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    float: left;
    font-weight: lighter;
}

article a
{
    color:#757678;
}

.two-columns, .two-columns-capability
 {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    padding: 0px 20px 60px 20px;
}

.two-columns-capability
{
    padding: 20px 20px 40px 20px;
}

.three-columns
{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    padding: 0px 20px;
}


article p
{
    font-size: .8em;
    color: #757678;
}


h2, .blog-page h2, .case-studies h2, .two-columns h2, .two-columns-capability h2,  .industry-news-feed h2, .archive h2
{
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1em;
    color: #00DDCD ;
    font-weight: lighter;
    margin-top: 0;
}

.case-studies h2
{
    margin-left: 10px;
    padding-left: 30px;
    width: 775px;
}

.minus, .plus
{
    display: block;
    width: 100%;
    margin:0px;
    background-image: url('../img/sdc_sprites.png');
    background-position: 0 -428px;
    background-repeat: no-repeat;
}

.plus
{
    background-position: 0 -380px;
}

.plus:hover
{
    background-position: 0 -404px;
}

.minus:hover
{
    background-position: 0 -452px
;
}

h3, .blog-page h3, .two-columns h3, .two-columns-capability h3
 {
     font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
     font-size: .8em;
     color: #000000;
     font-weight: lighter;
 }

h4, .blog-page h4, .two-columns h4, .two-columns-capability h4
{
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    font-size: .8em;
    color: #9294A3;
    font-weight: normal;
}

.feed-icon {
    float: right;
    margin: 15px;
    position: relative;
    z-index: 300;
}

article ul, ol
{
    font-size: .8em;
    color: #757678;
}

.basic-page h1, .blog-page h1
{
    border-bottom: 1px solid #F1F1F2;
    color: #00DECE;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.team-page h1
{
    border-bottom: 0px solid #F1F1F2;
    color: #00DECE;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 00px;
}

.team-page h2
{
    border-bottom: 1px solid #F1F1F2;
    color: #00DECE;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1em;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

#node-181 .two-columns
{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
    padding: 0px 20px 60px 20px;
}


.acc-3-per-line .rtecenter {
    float: left;
    margin: auto;
    text-align: center;
    width: 33%;
}

.acc-2-per-line .rtecenter {
    float: left;
    margin: auto;
    text-align: center;
    width: 50%;
}

/* Capability Page */

.capability-page h1
{
    background-image: url('../img/default_capability_image.png');
    display: block;
    width: 455px;
    height: 174px;
    padding-top:10px;
    color: #FFFFFF;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    margin: 0px;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 400px;
}

.associated-case-studies a
{
    color: #000000;
    font-size: 0.8em;

}

.associated-case-studies a:before
{
    content: "-  "
}

.back
{
    color: #00DECE;
    float: right;
    font-size: 0.6em;
    padding-bottom: 60px;
    padding-right: 195px;
    text-decoration: none;
    text-transform: uppercase;
}

.back:before
{
    content: "< ";
}


/* Case Studies Page */

.case-study-categories, .case-studies
{
    float: left;
    width: 100%;
}

.case-studies
{
    margin-bottom: 15px;
    width: 876px;
    background-color: #FFFFFF;
    display:none;
}

.case-study
{
    padding: 0px 10px;
    width: 855px;
}

.case-studies h1
{
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1em;
    color: #000000 ;
    font-weight: lighter;
    margin-top: 20px;
}

.case-study summary
{
    display: none;
    float: left;
}
.case-study-category
{
    width: 285px;
    float: left;
    margin-right: 10px ;
    margin-bottom: 18px;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    font-weight: lighter;
    font-size: inherit;
}

.case-study-category h1
{
    color: #FFFFFF;
    float: left;
    width: 200px;
    display: block;
    font-size: 1em;
    margin: 0;
    z-index: 100;
    font-weight: lighter;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
}

.case-study-file
{
    text-decoration: none;
    text-transform: uppercase;
    color: #00DECF;
    display: block;
    font-size: 0.8em;
}
.case-study-file:after
{
    content: " >";
}

.field-name-field-case-study-image {
    float: left;
    margin-left: 10px;
}

.icon
 {
     float:left;
     width: 23px;
     height: 23px;
     display: block;
     margin: 20px;
     background-image: url('../img/sdc_sprites.png');
     background-position: -28px -28px ;
     background-repeat: no-repeat;
 }

.case-studies .icon
{
    margin-bottom: 10px;
}

.case-studies hr
{
    clear: both;
}

.hr-case-title
{
    margin: 0px 20px;
    margin-bottom: 15px;
}

.hr-case-top
{
    width: 285px;
    margin-left: 10px;
}

.hr-case-bottom
{
    margin-left: 10px;
    margin-right: 5px;
}
.chosen
{
    background-color: #F1F1F2;
}

.chosen .residential, .chosen .medium-scale-residential,  .chosen .large-scale-residential
{
    background-position: 0px -23px;
}

.residential, .medium-scale-residential, .large-scale-residential
 {
     background-position: 0px -0px;
 }

.government
{
    background-position: 0px -143px;
}

.chosen .government
{
    background-position: 0px -167px;
}

.commercial
{
    background-position: 0 -47px;
}

.chosen .commercial
{
    background-position: 0 -70px;
}

.aged-care
{
    background-position: 0 -191px;
}

.chosen .aged-care
{
    background-position: 0 -215px;
}


.industrial
{
    background-position: 0 -239px;
}

.chosen .industrial
{
    background-position: 0 -263px;
}

.esd-investigations
{
    background-position: 0 -287px;
}

.chosen .esd-investigations
{
    background-position: 0 -308px;
}

.policies\,-strategies-\&-guidelines
{
    background-position: 0 -335px;
}

.chosen .policies\,-strategies-\&-guidelines
{
    background-position: 0 -358px;
}

/* This style is required because the heading goes on two lines */
#policies\,-strategies-\&-guidelines h1
{
    margin-bottom: 0;
    margin-top: 10px;
}
/* This style is required because the heading goes on two lines */
#policies\,-strategies-\&-guidelines h1 a
{
    margin-bottom: 0;
}

.educational
{
    background-position: 0 -97px;
}

.chosen .educational
{
    background-position: 0 -117px;
}

.no-top-margin
{
    margin-top: 0px;
}
.case-study-category h1 a
{
    color: #000000;
    text-decoration: none;
    display:inline;
    border: none;
    font-size: inherit;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
}

.case-study-category summary
{
    border-top: 1px solid #F1F1F2;
    position: relative;
    float: left;
    margin: 10px;
    color: #9294A3;
    z-index: 100;
    height: 168px;
}

.case-study-category a
{
    border-bottom: 1px solid #F1F1F2;
    color: #00DECF;
    display: block;
    font-size: 0.6em;
    padding-bottom: 20px;
    text-decoration: none;
    width: 265px;
}

.case-study-category summary a {
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
}


/* Team Page */

.team-profile
{
    float: left;
    margin-left: 17px;
    margin-right: 0;
    width: 411px;
}

.team-profile h2
{
    padding: 10px 10px 0 10px;
    margin: 0px;
    color: #000000;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1.1em;
    border: none;
}

.team-profile h3
{
    margin: 0 10px;
    border-bottom: 1px solid #F1F1F2;
    padding: 0px;
    color: #000000;
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: bold;

}

.team-profile summary
{
    padding: 10px;
}

.basic-page figure
{
    float: left;
    margin: 20px;
    width: 245px;
    text-align: center;
}

.basic-page figcaption
{
    float: left;
    margin: 20px;
    width: 245px;
    text-align: left;
    color: #000000;
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    font-size: .8em;
    font-weight: lighter;
}


.basic-page hr
{
    float: left;
    margin: 20px;
    width: 835px;
}

.basic-page hr.bottom,
{
    float: left;
    margin: 20px;
    margin-top:30px;
    margin-bottom: 20px;
    width: 835px;
}

.blog-page hr.bottom
{

    margin-top:30px;
    margin-bottom: 20px;
}

.blog-page figcaption
{
    font-size: .8em;
    color: #929396;
}

/* Contact Page */

address {
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    font-style: normal;
}

address p
{
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
    font-size: .8em;
}

address a
{
    text-decoration: none;
    color: #000000;
}

aside
{
    float: right;
    margin-right: 15px;
}

/* Blog Page */
aside .content
{
    float: none;
    padding: 0px;
    margin: 0px;
    width: 100%;

}

.item-list ul
{
    list-style: none;
    padding: 0px;
    font-family: Berthold, Helvetica,Arial,Sans-Serif;
}

.achive-list
{
    padding-left:0px;
    margin: 0px;
}

.achive-list ul
{
    padding-left:20px;
    margin: 0px;
}

.achive-list li
{
    list-style-type:none;
    padding:0 0 0 20px;
    background: transparent url('../img/sdc_sprites.png') no-repeat 0 -293px;
}

.achive-list a
{
    color: #000000;
    text-decoration: none;
    font-size: .8em;
}
.achive-list li.expanded
{
    background: transparent url('../img/sdc_sprites.png') no-repeat 0 -270px;
}

.blog-page
{
    float: left;
    padding: 15px;
    width: 540px;
}

.blog-page h1
{
    color: #00DECE;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    border: none;
}

.industry-news-feed .item-list ul li
{
    margin: 0px;
}

.news a, .blog-edit a
{
    text-transform: uppercase;
    font-size: .6em;
}
.news a:after, .blog-edit a:after
{
    content:" >";
}

.news p, .news h3
{
    font-size: .8em;
}

.archive
{
    background-color: #FFFFFF;
    margin-bottom: 15px;
    padding: 15px;
}

.archive .item-list ul li {
    margin: 0 0 0.25em 0;
    padding: 0;
    font-size: 0.8em;
}


.archive a, .archive li
{
    color: #000000;
    font-family: InconsolataHellenic,Helvetica,Arial,Sans-Serif;
    text-decoration: none;
}

.archive a.active
{
    color: #000000;
    text-decoration: underline;
}

.industry-news-feed
{
    background-color: #ffffff;
    padding: 15px;
    width: 255px;
    margin-bottom: 15px;
}

.industry-news-feed .more-link
{
    display: none;
}
/* Loading Screen*/

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/sdc_loading.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/* Tablet styles */
@media only screen and (min-width: 320px) and (max-width: 1024px)
{
    nav
    {
        position: absolute;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
